<!-- Filter Selection Modal -->
<sl-dialog class="dialog-overview">
<label slot="label"><sl-visually-hidden>Select some filters to narrow your results:</sl-visually-hidden></label>

<sl-alert id="resultCount" variant="primary" open>
  <sl-icon slot="icon" name="info-circle"></sl-icon>
</sl-alert>


  <sl-tab-group>
    <sl-tab slot="nav" panel="Role & Experience">Role & Experience</sl-tab>
    <sl-tab slot="nav" panel="Industries" >Industries</sl-tab>
    <sl-tab slot="nav" panel="Board Service" >Board Service</sl-tab>

    <sl-tab-panel name="Role & Experience">

      Current Position:
      <sl-select placeholder="Select one or more tags" multiple clearable id="tags_current_position"></sl-select>

      Past Positions held:
      <sl-select placeholder="Select one or more tags" multiple clearable id="tags_past_positions"></sl-select>

      Desired Experience:
      <sl-select placeholder="Select one or more tags" multiple clearable id="tags_experience"></sl-select>

    </sl-tab-panel>

    <sl-tab-panel name="Industries">

      Current Industry:
      <sl-select placeholder="Select one or more tags" multiple clearable id="tags_current_industries"></sl-select>

      Past Industries:
      <sl-select placeholder="Select one or more tags" multiple clearable id="tags_past_industries"></sl-select>

    </sl-tab-panel>

    <sl-tab-panel name="Board Service">

      Current Board Service:
      <sl-select placeholder="Select one or more tags" multiple clearable id="tags_current_board_service"></sl-select>

      Past Board Service:
      <sl-select placeholder="Select one or more tags" multiple clearable id="tags_past_board_service"></sl-select>

      General:
      <sl-select placeholder="Select one or more tags" multiple clearable id="tags_general"></sl-select>

    </sl-tab-panel>

  </sl-tab-group>
  <sl-button slot="footer" variant="primary" id="closeButton">Close</sl-button>
</sl-dialog>
