<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />

    <link rel="manifest" href="site.webmanifest" />
    <link rel="apple-touch-icon" href="icon.png" />
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.83/dist/themes/light.css" />
    <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.83/dist/shoelace.js"></script>
    <script type="module" src="/assets/js/main.js"></script>
    {% if page.title == "Women Lead" %}
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}
    <meta name="theme-color" content="#fafafa" />
  </head>
  <body>
  {% comment %}
  {% render "nav.liquid" %}
  {% endcomment %}

    <main>
