<!-- Result card template -->
<template class="result">
<sl-card class="card-overview">
  <div slot="header" class="resultHeader">
    <sl-avatar
      label="User avatar"
      image=""></sl-avatar>
  </div>

  <div slot="footer" class="ppFooter">
    <sl-button
      variant="primary"
      href="/profile?/"
      target="_blank"
      class=".profileButton"
      pill
    >
      View Profile
    </sl-button>
  </div>
</sl-card>
</template>
