<form class="WOB-Search">
  <sl-input
    type="search"
    class="searchInput label-on-left"
    clearable
  >
  <label slot="label"><sl-visually-hidden>Search</sl-visually-hidden></label>
    <sl-icon name="search" slot="prefix"></sl-icon>
  </sl-input>
  <div class="buttonContainer">
    <sl-button type="submit" variant="primary" class="submitButton">Search</sl-button>
    <sl-button type="button" variant="secondary" class="dialogToggle filterButton">Filter</sl-button>
  </div>
</form>

{% include 'filterModal.liquid' %}
<div class="searchResults"></div>
{% include 'resultCard.liquid' %}
{% include 'selectionItem.liquid' %}
{% include 'searchScript.liquid' %}
