<form class="WOB-Search">
  <sl-tooltip content="Try typing in a name, company, or industry.">
    <sl-input
      type="search"
      class="searchInput label-on-left"
      clearable
    >
    <label slot="label"><sl-visually-hidden>Search</sl-visually-hidden></label>
      <sl-icon name="search" slot="prefix"></sl-icon>
    </sl-input>
  </sl-tooltip>
  <div class="buttonContainer">
    <sl-tooltip content="Run your search.">
      <sl-button type="submit" variant="primary" class="submitButton"><sl-icon slot="prefix" name="search"></sl-icon>Search</sl-button>
    </sl-tooltip>
    <sl-tooltip content="Apply filters to fine-tune search results.">
      <sl-button type="button" variant="secondary" id="filterButton" class="dialogToggle" disabled><sl-icon style="color: white;" slot="prefix" name="funnel"></sl-icon>Filter</sl-button>
    </sl-tooltip>
  </div>
</form>

<sl-alert id="searchInfo" variant="primary" open closable class="alert-closable">
  <sl-icon slot="icon" name="info-circle"></sl-icon>
  <strong>New: </strong>Search "All" to view our entire database of profiles!
</sl-alert>

{% include 'filterModal.liquid' %}
<div class="searchResults"></div>
{% include 'resultCard.liquid' %}
{% include 'selectionItem.liquid' %}
{% include 'searchScript.liquid' %}
