/* Establish cascade layer order */
@layer reset, defaults, patterns, components, utilities, overrides;

/* Imports */
@import url('sanitize.css') layer(reset);

.buttonContainer {
  margin: .5rem 0rem 3rem 0rem;
  text-align: center;
}

.card-overview {
  margin-bottom: 2rem;
  width: 100%; /* Prevent short cards for missing / short bios */
}

.card-overview small {
  color: var(--sl-color-neutral-500);
}

.card-overview [slot="footer"] {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filterButton {
  width: 5rem;
}

p {
  font-size: .9rem;
  letter-spacing: .1rem;
}

h1 {
    font-family: 'Literata', serif;
    font-size: 5rem;
    font-style: italic;
    font-weight: 500;
}

h1.profileH1 {
  font-size: 3rem;
}

.header {
    text-align: center;
}

.hidden {
  overflow: hidden;
  clip: rect (1px, 1px, 1px, 1px);
  clip-path: inset (50%);
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  word-wrap: normal;
}

main {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

.profileHeader {
  display: flex;
  flex-flow: row nowrap;
}

.searchResults {
  max-height: 20vh;
}

sl-avatar.profileAvatar {
  --size: 10rem;
  margin-top: 6rem;
  margin-right: 2rem;
  margin-left: -1.5rem;
}

.subhead {
  margin-top: -4.5rem;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: .25rem;
  color: #808080;
  font-size: .85rem;
  margin-bottom: 5rem;
}

.submitButton {
  width: 32rem;
}

.titleEmployer {
  font-size: 1.2rem;
  font-family: 'Literata', serif;
  font-weight: 500;
  margin-top: -3rem;
  margin-bottom: 3rem;
}
