{% include 'head.liquid' %}
<div class="header">
<h1>{{ h1 }}</h1>
<p class="subhead">{{ subhead }}</p>
<span class="description">{{ content }}<span>
</div>
{% include 'search.liquid' %}
{% include 'foot.liquid' %}
