{% include 'head.liquid' %}
{% include 'nav.liquid' %}
<header id="indexHeader">
	<h1>{{ h1 }}</h1>
	{% if subhead %}
	<p class="subhead">{{ subhead }}</p>
	{% endif %}
	<span class="description">{{ content }}<span>
</header>
{% include 'loader.liquid' %}
<div id="loader" class="center"></div>
{% include 'search.liquid' %}
{% include 'foot.liquid' %}
